{
    "env": {
        "development": {
            "presets": [
                ["next/babel"],
            ],
            "plugins": [
                "inline-dotenv",
                "transform-inline-environment-variables",
                "inline-react-svg"
            ]
        },
        "production": {
            "presets": [
                ["next/babel"],
            ],
            "plugins": [
                "inline-dotenv",
                "transform-inline-environment-variables",
                "inline-react-svg"
            ]
        }
    }
}